@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-colour {
        color: #D3D3D3;
    }

    .custom-home-image {
        width: 100%;
    }
</style>

<h2>Story Website</h2>

<p class="custom-colour">A demonstration website made with ASP.NET Core 2.2 using <strong>both</strong> MVC and MVVM (Razor Page) architecture.</p>

<img class="custom-home-image" src="https://content-static.upwork.com/blog/uploads/sites/3/2017/11/01235801/How-Much-Cost...-Content-Writer-feature.jpg" title="Story Website" alt="Pen" />
<p></p>

<h4>What does it do?</h4>

<p class="custom-colour">Simply put, you may read stories and browse through writer profiles without creating an account. In order to write stories and follow other writers, you must create or sign in with an account.</p>

<p class="custom-colour">Full user functionality, technical documentation and source code available at: <a href="https://github.com/PD9696/ASP.NET-Core-Story-Website">github.com/PD9696/ASP.NET-Core-Story-Website</a>.</p>
